* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    /* Box Model */
    margin: 80px 10px;

    /* Typography */
    font-family: Helvetica, sans-serif;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    color: khaki;

    /* Visual */
    background-image: url("/resources/images/pattern.jpeg");
}

section h2 {
    /* Box Model */
    margin: 20px 10px;

    /* Typography */
    font-family: Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

#brushes-title {
    background-color: mediumspringgreen;
}

#frames-title {
    background-color: lightcoral;
}

#paint-title {
    background-color: skyblue;
}

.starting-price {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    color: blue;
}